plotly
matplotlib
seaborn
scikit-learn
google-generativeai  
scipy
streamlit
pandas
numpy
umap-learn
requests
dataclasses;
sqlite3 
streamlit
pandas
plotly
matplotlib
numpy
SpeechRecognition
gTTS
playsound
